@charset "utf-8";
.box{
    padding: 5% 0;
    padding-bottom: 100px;
}
.title-con{
    display:flex;
    justify-content: center;
}
.title-con h2{
    padding:0 50px;
}

.place{
    margin:0;
    text-align: center;
    font-size: 2.5em;
}
.place-wrap{
    width: 70%;
    height: 100%;
    background-color:black;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
.name{
    text-align: center;
    font-size: 1.3vw;
    color: #ffd520;
}
.map{
    position: relative;
    padding-bottom: 50%;
}
.map iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1%;
}
@media screen and (max-width:1000px){
    h2.place,
    h2.brand{
        font-size: 3vw;
        display:block !important;
        
    }
    .place-wrap{
        width: 90%;
        margin-top: 50px;
    }
    .name{
        font-size: 2.5vw;
    }
}
@media screen and (max-width:640px){
    h2.brand,
    h2.place{
        font-size: 3.5vw;
    }
    .name{
        font-size: 3.5vw;
    }
}
@media screen and (max-width:450px){
    .name{
        font-size: 4.5vw;
    }
    .map{
        padding-bottom: 100%;
    }
    h2.brand,
    h2.place{
        font-size: 5vw;
    }
}